$orange: #FF4D26;
$purple: #664EFF;
$green: #6ECF6B;
$beige: #E3C629;
$pink: #FC77B6;
$blue: #71AAFF;
$lightgreen: #2AC0B7;
$darkgrey: #202020;
$red: #FF195E;

@import "camp.scss";

@font-face {
    font-family: 'Steinbeck';
    src: url('../fonts/Steinbeck-Regular.woff') format('woff'),
        url('../fonts/Steinbeck-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steinbeck';
    src: url('../fonts/Steinbeck-Italic.woff') format('woff'),
        url('../fonts/Steinbeck-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Steinbeck', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @media (max-width: 1280px) {
        max-width: 90%;
    }
}

.row {
    display: flex;
    justify-content: space-between;

    .col {
        flex-basis: 49%;
        max-width: 49%;

        @media (max-width: 992px) {
            flex-basis: 100%;
            max-width: 100%;
        }
    }

    .col-10 {
        flex-basis: 84%;
        max-width: 84%;
    }

    .col-2 {
        flex-basis: 16%;
        max-width: 16%;
    }
}

.d-flex {
    display: flex;
}

.to-bottom {
    align-items: flex-end;
}

.white-text * {
    color: white;
}

.white-text a {
    &:hover {
        color: white;
    }
}

.navbar {
    background-color: #F2F2F2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar-nav {
    display: flex;
    padding: 17px 0;
    align-items: center;
    position: relative;

    .navbar-list {
        list-style: none;
        padding: 0;
        margin: 0 25px 0 auto;
        display: flex;

        li {
            position: relative;
            margin-left: 12px;
            // padding-left: 12px;

            @media (max-width: 992px) {
                margin-bottom: 7px;
            }

            &:before {
                content: "•";
                display: inline-block;
                margin-right: 12px;

                @media (max-width: 992px) {
                    display: none;
                }
            }

            &:first-of-type {
                &:before {
                    display: none;
                }
            }
        }

        a {
            text-decoration: none;
            color: black;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    .navbar-tel {
        text-decoration: none;
        color: #FF511B;
        margin-bottom: -5px;

        @media (max-width: 992px) {
            margin-left: auto;
            margin-right: 40px;
        }
    }

    .burger-btn {
        position: absolute;
        top: 50%;
        right: 20px;
        height: 40px;
        width: 40px;
        padding: 20px;
        margin-right: -40px;
        transition: 0.2s;
        cursor: pointer;
        display: none;
        transform: translate(-50%, -50%);
        user-select: none;

        i {
            position: absolute;
            display: block;
            width: 50%;
            height: 2px;
            border-radius: 5px;
            background-color: #FF4D26;
            transition: 0.2s;

            &:nth-child(1) {
                top: 35%;
            }

            &:nth-child(2) {
                top: 50%;
            }

            &:nth-child(3) {
                top: 65%;
            }
        }

        @media (max-width: 992px) {
            display: block;
        }
    }
}

.mob-nav-opened .navbar-nav .navbar-list {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 55px;
    left: -5vw;
    background-color: #F2F2F2;
    padding: 15px 7px;
}

.orange-bg {
    background-color: $orange;
}

.orange-text {
    color: $orange;
}

.purple-bg {
    background-color: $purple;
}

.green-bg {
    background-color: $green;
}

.beige-bg {
    background-color: $beige;
}

.pink-bg {
    background-color: $pink;
}

.pink-text {
    color: $pink;
}

.red-bg {
    background-color: $red;
}

.red-text {
    color: $red;
}

.blue-bg {
    background-color: $blue;
}

.lightgreen-bg {
    background-color: $lightgreen;
}

.lightgreen-text {
    color: $lightgreen;
}

.darkgrey-bg {
    background-color: $darkgrey;
}

.main-heading {
    font-size: 68px;
    margin: 0;
    line-height: 1;
    text-transform: lowercase;

    @media (max-width: 768px) {
        font-size: 40px;
    }
}

.course-sect {
    padding: 40px 0;
    position: relative;
    min-height: 75vh;
    overflow: hidden;

    .course-info {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        min-height: 75vh;
        width: 100%;

        .text {
            max-width: 40vw;

            @media (max-width: 992px) {
                max-width: initial;
                margin-top: 0;
            }
        }
    }

    .course-img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        min-height: 75vh;

        @media (max-width: 576px) {
            min-height: auto;
            max-height: 50vh;
        }
    }

    .course-img-top {
        top: 0;
        bottom: auto;
    }

    .container {
        min-height: 75vh;
    }

    .course-name {
        font-size: 130px;
        margin: 10px 0 30px;
        font-weight: 400;
        line-height: .7;
        letter-spacing: -5px;

        @media (max-width: 992px) {
            font-size: 65px;
            letter-spacing: -2px;
        }

        @media (max-width: 420px) {
            font-size: 50px;
        }
    }

    .course-name-italic {
        font-style: italic;
    }

    .course-name-marked {
        background-color: transparent;
        color: #FF4D26;
    }

    .course-bottom-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: initial;
        }
    }

    .course-specs p {
        margin: 0;
        font-size: 30px;
    }

    .course-age {
        position: absolute;
        right: 40px;
        top: 50px;
        z-index: 2;
        font-size: 30px;

        @media (max-width: 992px) {
            top: 10px;
            right: 10px;
            font-size: 16px;
        }
    }
}

.subheading {
    font-weight: 400;
    font-size: 68px;
    margin: 0;
    line-height: 1.2;
}

.intro-course-sect .container,
.intro-course-sect .course-info {
    min-height: 65vh;
}

.second-page {
    .course-sect {
        padding: 70px 0;
    }
}

.navbar+.course-sect {
    padding-top: 130px;
}

.start-teaching-sect {
    padding-bottom: 60px;

    .course-name {
        @media (max-width: 992px) {
            font-size: 50px;
        }
    }

    .row {
        @media (max-width: 1280px) {
            flex-direction: column;
        }

        .start-teaching-img {
            @media (max-width: 576px) {
                display: none;
            }
        }

        .col {
            @media (max-width: 576px) {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }

    .start-teaching-form {
        margin-top: 20px;

        .form-input,
        .form-textarea {
            @media (max-width: 768px) {
                padding: 10px 15px;
                font-size: 20px;
            }
        }
    }
}

.text {
    font-size: 30px;
    margin: 20px 0 0;
    line-height: 1;

    a {
        text-decoration: underline;
    }

    @media (max-width: 992px) {
        font-size: 20px;
    }
}

.cost-fixed {
    background-color: $red;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-text {
        font-size: 18px;
        margin: 0;
        color: white;
    }

    &-name {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &-price {
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    .btn {
        border: 1px solid white;
        font-size: 18px;
        margin: 7px 0;
        padding: 10px 20px;

        @media (max-width: 768px) {
            font-size: 14px;
            padding: 8px 13px;
        }
    }
}

.btn {
    background-color: $red;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 20px;
    // display: flex;
    border: 0;
    font-family: inherit;
    cursor: pointer;
    text-transform: lowercase;

    &:after {
        content: "";
        background-image: url(../img/btn-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
    }

    &:hover {
        color: white;
    }

    @media (max-width: 992px) {
        font-size: 20px;
        padding: 10px 15px;
        margin-top: 15px;
    }
}

.btn-transparent {
    border: 1px solid white;
    background-color: transparent;
}

.contact-sect {
    .contact-link-container {
        display: flex;
        flex-direction: column;
        margin-top: auto;

        .contact-link {
            font-size: 68px;
            margin: 7px 0;

            @media (max-width: 768px) {
                font-size: 40px;
            }

            @media (max-width: 420px) {
                font-size: 30px;
            }
        }

        .text-decor-none {
            text-decoration: none;
        }

        a {
            line-height: 1;

            &:hover {
                color: white;
            }
        }
    }
}

.home-intro-sect {
    background-color: $orange;
    background-image: url(../img/intro-img.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
    min-height: 75vh;

    .container {
        min-height: 75vh;
    }

    @media (max-width: 992px) {
        min-height: auto;

        .container {
            min-height: auto;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;

    &-input,
    &-textarea {
        font-family: inherit;
        padding: 15px 25px;
        border: 2px solid #202020;
        font-size: 30px;
        outline: none;
        margin-bottom: 17px;
        background-color: transparent;

        @media (max-width: 992px) {
            padding: 12px 20px;
            font-size: 20px;
        }
    }

    &-textarea {
        min-height: 250px;
    }

    input::placeholder,
    textarea::placeholder {
        color: #202020;
    }
}

.form-btn {
    background-color: #202020;
    width: 100%;
}

.museum-sect {
    .row {
        align-items: flex-end;

        .col:last-of-type {
            text-align: right;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .col {
            @media (max-width: 768px) {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }

    .museum-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-top: 90px;

        &-text {
            font-size: 18px;
            margin: 15px 0;
        }

        &-image {
            position: relative;
            cursor: pointer;
            overflow: hidden;

            img {
                max-width: 100%;
            }

            &-text {
                font-size: 30px;
                padding: 18px;
                border: 1px solid #FFFFFF;
                line-height: 1;
                text-transform: lowercase;
                // display: none;
                position: absolute;
                bottom: -100%;
                // top: 100%;
                background-color: $darkgrey;
                transition: .3s;

                @media (max-width: 768px) {
                    display: block;
                    position: static;
                }
            }

            &:hover {
                .museum-grid-image-text {
                    // top: auto;
                    bottom: 0;
                }
            }
        }

        &-badge {
            position: absolute;
            background-color: #71AAFF;
            color: white;
            font-size: 18px;
            top: 18px;
            left: 18px;
            padding: 3px 10px;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 40px;
        }
    }
}

.modal-museum {
    .modal-dialog {
        width: 1280px;
        max-width: 80vw;
        margin: 60px auto;

        @media (max-width: 1280px) {
            max-width: 92vw;
        }
    }

    .modal-content {
        box-shadow: none;
        border: 0;
        border-radius: 0;
        background-color: transparent;
    }

    button.close {
        background-color: transparent;
        border: 0;
        position: absolute;
        top: -40px;
        right: 0;
    }

    .museum-text-info {
        .museum-name {
            color: white;
            font-size: 18px;

            @media (max-width: 992px) {
                margin: 50px 0 0;
            }
        }

        .museum-desc {
            font-size: 24px;
            color: white;
            max-width: 50vw;
            margin: 40px 0 0;
            line-height: 1.2;

            @media (max-width: 992px) {
                max-width: 100%;
                margin: 10px 0 0;
            }
        }
    }

    .museum-slide {
        position: relative;
        overflow: hidden;

        @media (max-width: 768px) {
            // height: 70vh;
        }

        img {
            max-width: 100%;

            @media (max-width: 768px) {
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                // height: 100%;
                position: static;
            }
        }
    }

    .swiper-main {
        position: relative;
    }

    .swiper-pagination.museum-pagination {
        bottom: -40px;

        .swiper-pagination-bullet {
            background: black;
            border: 1px solid white;
            width: 16px;
            height: 16px;
        }

        .swiper-pagination-bullet-active {
            background: #FF4D26;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: white;
    }
}

.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8;
    background-color: #202020;
}

.course-info-row {
    min-height: 75vh;

    .col {
        display: flex;
        flex-direction: column;
    }

    .course-bottom-block {
        align-items: flex-end;

        @media (max-width: 992px) {
            align-items: flex-start;

            .course-specs p {
                font-size: 20px;
                line-height: 1.3;
            }
        }
    }
}

.course-bottom-block {
    >div {
        flex-basis: 50%;
        min-width: 300px;
        padding-right: 20px;
    }
}

.course-person-sect {
    .container {
        min-height: auto;
        display: flex;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    .main-heading {
        text-transform: none;
    }

    .course-person-col {
        flex-basis: 50%;
        max-width: 50%;

        &:first-of-type {
            padding-right: 80px;

            @media (max-width: 992px) {
                padding-right: 0;
            }
        }

        @media (max-width: 992px) {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
}

.course-person-img {
    position: relative;

    .course-img {
        position: static;
        margin-left: -150px;

        @media (max-width: 992px) {
            margin-left: 0;
            margin-top: 40px;
            max-height: 100%;
            max-width: 100%;
        }
    }

    .course-person-quote {
        font-style: italic;
        max-width: 620px;
        position: absolute;
        bottom: 100px;

        @media (max-width: 992px) {
            position: static;
            margin-top: -100px;
            font-size: 20px;
        }
    }
}

// test
.custom-course-sect {
    .course-img {
        max-width: 100%;
        min-height: auto;
        position: static;
        margin-top: 40px;

        @media (max-width: 992px) {
            display: none;
        }
    }

    .row {
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    .start-teaching-form {
        @media (max-width: 992px) {
            margin-top: 40px;
        }
    }
}

.person-video {
    max-width: 100%;
}

.program-sect {
    min-height: auto;

    .container {
        min-height: auto;
    }
}

.program-points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }

    &-item {
        &-heading {
            color: #FF4D26;
            font-size: 18px;
            margin: 8px 0;
        }
    }

    .program-list {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 30px;

        li {
            margin: 5px 0;

            @media (max-width: 992px) {
                font-size: 20px;
                line-height: 1.2;
            }
        }
    }
}

.start-learning-sect {
    .start-learning-list {
        list-style: none;
        padding: 0 0 0 15px;
        margin: 0;

        li {
            margin-bottom: 12px;
            font-size: 30px;

            @media (max-width: 992px) {
                font-size: 20px;
                margin-bottom: 10px;
                line-height: 1.2;
            }
        }

        @media (max-width: 992px) {
            padding-left: 0;
        }
    }

    .row {
        @media (max-width: 992px) {
            flex-direction: column-reverse;
        }

        .col {
            @media (max-width: 576px) {
                flex-basis: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}

.start-learning-form {
    justify-content: center;
    align-items: center;

    .form-input,
    .form-textarea {
        width: 100%;
        border-color: $red;

        &::placeholder {
            color: $red;
        }

        @media (max-width: 768px) {
            padding: 10px 15px;
            font-size: 20px;
        }
    }

    .form-btn {
        background-color: $red;
    }
}

.price-form-visible {
    .cost-fixed {
        display: none;
    }
}

.list-arrow {
    color: $red;
}

footer {
    background-color: $orange;
    padding: 40px 0;
}

.footer-line {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .footer-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 18px;
            margin-bottom: 10px;

            @media (max-width: 768px) {
                font-size: 14px;
            }

            a {
                text-decoration: none;

                &:hover {
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }

    .col {
        flex-grow: 1;

        &:nth-of-type(2) {
            flex-grow: 2;
        }

        @media (max-width: 768px) {
            &+.col {
                margin-top: 30px;
            }
        }
    }

    p {
        margin: 0;
        font-size: 18px;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    .footer-heading {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid white;
    }

    +.footer-line {
        margin-top: 40px;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: row;
        }
    }
}