$orange: #FF4D26;
$purple: #664EFF;
$green: #6ECF6B;
$beige: #E3C629;
$pink: #FC77B6;
$blue: #71AAFF;
$lightgreen: #2AC0B7;
$darkgrey: #202020;

@font-face {
    font-family: 'Steinbeck';
    src: url('../fonts/Steinbeck-Regular.woff') format('woff'),
        url('../fonts/Steinbeck-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steinbeck';
    src: url('../fonts/Steinbeck-Italic.woff') format('woff'),
        url('../fonts/Steinbeck-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'Steinbeck', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @media (max-width: 1280px) {
        max-width: 90%;
    }
}

.d-flex {
    display: flex;
}

.to-bottom {
    align-items: flex-end;
}

.white-text * {
    color: white;
}

.navbar {
    background-color: #F2F2F2;
}

.navbar-nav {
    display: flex;
    padding: 17px 0;
    align-items: center;

    .navbar-list {
        list-style: none;
        padding: 0;
        margin: 0 25px 0 auto;
        display: flex;

        li {
            position: relative;
            margin-left: 12px;
            // padding-left: 12px;

            &:before {
                content: "•";
                display: inline-block;
                margin-right: 12px;
            }

            &:first-of-type {
                &:before {
                    display: none;
                }
            }
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .navbar-tel {
        text-decoration: none;
        color: #FF511B;
    }
}

.orange-bg {
    background-color: $orange;
}

.purple-bg {
    background-color: $purple;
}

.green-bg {
    background-color: $green;
}

.beige-bg {
    background-color: $beige;
}

.pink-bg {
    background-color: $pink;
}

.blue-bg {
    background-color: $blue;
}

.lightgreen-bg {
    background-color: $lightgreen;
}

.darkgrey-bg {
    background-color: $darkgrey;
}

.main-heading {
    font-size: 68px;
    margin: 0;
}

.course-sect {
    padding: 40px 0;
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    .course-info {
        position: relative;
        z-index: 2;
    }

    .course-img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        min-height: 100vh;
    }

    .course-img-top {
        top: 0;
        bottom: auto;
    }
}

.course-name {
    font-size: 130px;
    margin: 0;
}

.home-intro-sect {
    background-color: $orange;
    background-image: url(../img/intro-img.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
    min-height: 100vh;
}

.course-bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-specs p {
    margin: 10px 0;
    font-size: 30px;
}

.text {
    font-size: 30px;
}

.btn {
    background-color: #FF195E;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
    display: inline-block;
}